unit dfe.lib.acbr;

interface

uses
  syncobjs,
  windows,
  sysutils,
  ACBrCAPICOM_TLB,

  Classes,
  ACBrNFe,
  db,
  ACBrEAD,
  pcnConversao,
  pcnConversaoNFe,
  ACBrUtil,
  pcnNFeW,
  pcnNFeRTXT,
  pcnAuxiliar,
  ACBrDFeUtil,
  ACBrDFeSSL,
  XMLIntf,
  ACBrNFeWebServices,

  Inifiles,
  Datasnap.DBClient,

  XMLDoc;

type
  TDadosCertificado = array of string;

type
  TAcbrConfig = class
  Public
    Class Function getSerialCertificado(cnpj: string): String;
    Class procedure setAcbrObj(var ObJ: TACBrNFe; cnpj: String);
    class procedure calcularNFCE(var FACBrNFe: TACBrNFe;
      const outMsg: TStringList = Nil);
    class procedure setdadoscertificados(var tabela: TDadosCertificado);
  end;

var
  FDadosCertificados: TDadosCertificado;

implementation
function Sonumeros(value: string): string;

var
  i: Integer;
  tmp: string;
begin
  tmp := '';
  for i := 1 to Length(value) do
    if (value[i] in ['0' .. '9']) then
      tmp := tmp + copy(value, i, 1);
  Result := tmp;
end;

function format2digit(value: Integer): String;
begin
  Result := Sonumeros(inttostr(value));
  while Length(Result) < 2 do
    Result := '0' + Result;

end;
{ ------------------------------------------------------------------------------ }
function GetWindDir: string;
begin
  SetLength(Result, MAX_PATH);
  SetLength(Result, GetWindowsDirectory(PChar(Result), MAX_PATH));
  Result := Result + '\';
end;

{ ------------------------------------------------------------------------------ }
{------------------------------------------------------------------------------}
procedure gravalog(mensagem: string);
var
  strSaida: string;
  HWND: Cardinal;
  procedure registrarLogEmArquivo;
  var
    p: string;
    F: TextFile;
  begin
    try
      try
        p := ExtractFilePath(ParamStr(0)) + 'log\';
        ForceDirectories(p);
        p := p + FormatDateTime('yyyymmdd', now) + '_' +
          ChangeFileExt(ExtractFileName(ParamStr(0)), '') + '.log';
        AssignFile(F, p);
        if not FileExists(p) then
          Rewrite(F)
        else
          Append(F);
        Writeln(F, strSaida);
      except
      end;
    finally
      Closefile(F);
    end;
  end;
begin
  Try
    HWND := 0;
    try
      strSaida := FormatDateTime('hh:nn:ss.zzz', now) + ' - ' + mensagem;
      OutputDebugString(PChar(datetimetostr(now) + ' - ' + mensagem));

      registrarLogEmArquivo;

    finally

    end;
  except
  end;
end;
{------------------------------------------------------------------------------}
procedure initializeCertificados;
var
  afield: TField;
begin
  TAcbrConfig.setdadoscertificados(FDadosCertificados);

end;

class procedure TAcbrConfig.setdadoscertificados(var tabela: TDadosCertificado);
var
  Store: IStore3;
  Certs: ICertificates2;
  Extension: IExtension;
  Cert: ICertificate2;
  Propriedades: string;
  FNumeroSerie: string;
  FDataVenc: TDateTime;
  FSubjectName: string;
  Lista: TStringList;
  Fcnpj: string;
  s: string;
  i: Integer;
  j, k, l: Integer;

const
  CAPICOM_STORE_NAME = 'My';
begin

  try
    try
      Store := CoStore.Create;
      Lista := TStringList.Create;
      Store.Open(CAPICOM_CURRENT_USER_STORE, CAPICOM_STORE_NAME,
        CAPICOM_STORE_OPEN_READ_ONLY);
      Certs := Store.Certificates as ICertificates2;
      for i := 1 to Certs.Count do
      begin

        try
          Cert := IInterface(Certs.Item[i]) as ICertificate2;
          FNumeroSerie := Cert.SerialNumber;
          FDataVenc := Cert.ValidToDate;
          FSubjectName := Cert.SubjectName;
          for j := 1 to Cert.Extensions.Count do
          begin
            try
              Extension := IInterface(Cert.Extensions.Item[j]) as IExtension;
              Propriedades := Extension.EncodedData.Format(True);
              if (Pos('2.16.76.1.3.3', Propriedades) > 0) then
              begin
                Lista.Text := Propriedades;
                for k := 0 to Lista.Count - 1 do
                begin
                  if (Pos('2.16.76.1.3.3', Lista.Strings[k]) > 0) then
                  begin

                    Fcnpj := StringReplace(Lista.Strings[k], '2.16.76.1.3.3=',
                      '', [rfIgnoreCase]);
                    Fcnpj := Sonumeros((HexToAscii(RemoveString(' ', Fcnpj))));
                    gravalog(' --> CERTIICADO INSERIDO  CNPJ : ' + Fcnpj +
                      ' SERIE ' + FNumeroSerie);
                    l := high(tabela);

                    SetLength(tabela, l + 2);
                    tabela[high(tabela)] := Fcnpj + '|' + FNumeroSerie;

                  end;
                end;
                break;
              end;
            except
            end;
            Extension := nil;
          end;
          if Pos('CN=', FSubjectName) > 0 then
          begin
            FSubjectName := copy(FSubjectName, Pos('CN=', FSubjectName) + 3,
              Length(FSubjectName));
            if Pos(',', FSubjectName) > 0 then
              FSubjectName := copy(FSubjectName, 0, Pos(',', FSubjectName) - 1);
          end;
          if s <> '' then
            s := s + #13#10 + FNumeroSerie + ' | ' + FSubjectName + ' | ' +
              Fcnpj + ' | ' + datetostr(FDataVenc)
          else
            s := FNumeroSerie + ' | ' + FSubjectName + ' | ' + Fcnpj + ' | ' +
              datetostr(FDataVenc);
        except
        end;
      end;
    except
    end;

  finally
    FreeAndNil(Lista);
    if assigned(Store) then
      Store.Close;

  end;
end;

class function TAcbrConfig.getSerialCertificado(cnpj: string): String;

  procedure setcertificadolocal();
  var
    index: Integer;
    s1, s2: string;
  begin
    if high(FDadosCertificados) <= 0 then
      initializeCertificados();
    for index := 0 to high(FDadosCertificados) do
    begin
      s1 := copy(FDadosCertificados[index], 0,
        Pos('|', FDadosCertificados[index]) - 1);
      if copy(Sonumeros(s1), 0, 8) = copy(Sonumeros(cnpj), 0, 8) then
      begin
        result := copy(FDadosCertificados[index],
          Pos('|', FDadosCertificados[index]) + 1,
          Length(FDadosCertificados[index]));
        break;
      end;
    end;

  end;

begin
  result := '';

  try
    try
      setcertificadolocal();
      if result = '' then
      begin
        gravalog('[E175 ] ERRO A SERIE  NÃO PODE SER LOCALIZADA  PARA O CNPJ '+CNPJ+'   REINICIANDO FILTROS   ');
        setcertificadolocal();
      end;
    except
      on e: exception do
      begin
        gravalog('[E180 ]' + e.Message);
      end;
    end;
  finally

  end;
end;

class procedure TAcbrConfig.calcularNFCE(var FACBrNFe: TACBrNFe;
  const outMsg: TStringList = Nil);
var
  ij: Integer;
  i: Integer;
  fsvTotTrib: Currency;
  fsvBC: Currency;
  fsvICMS: Currency;
  fsvICMSDeson: Currency;
  fsvBCST: Currency;
  fsvST: Currency;
  fsvProd: Currency;
  fsvFrete: Currency;
  fsvSeg: Currency;
  fsvDesc: Currency;
  fsvII: Currency;
  fsvIPI: Currency;
  fsvPIS: Currency;
  fsvCOFINS: Currency;
  fsvOutro: Currency;
  fsvServ: Currency;
  fsvNF: Currency;
  fsvTotPag: Currency;
  FaturamentoDireto: Boolean;
  NFImportacao: Boolean;
  svalor: string;
  sdecimal: string;
  sinteiro: string;
  fs: TFormatSettings;
  procedure gravalog(AString: String);
  begin
    if assigned(outMsg) then
      outMsg.Add(AString);
  end;

begin

  with FACBrNFe.NotasFiscais[0] do
  begin
    fsvTotTrib := 0;
    fsvBC := 0;
    fsvICMS := 0;
    fsvICMSDeson := 0;
    fsvBCST := 0;
    fsvST := 0;
    fsvProd := 0;
    fsvFrete := 0;
    fsvSeg := 0;
    fsvDesc := 0;
    fsvII := 0;
    fsvIPI := 0;
    fsvPIS := 0;
    fsvCOFINS := 0;
    fsvOutro := 0;
    fsvServ := 0;
    GetLocaleFormatSettings(GetUserDefaultLCID, fs);
    FaturamentoDireto := false;
    NFImportacao := false;
    // VALIDACAO ITENS
    for i := 0 to nfe.Det.Count - 1 do
    begin
      with nfe.Det[i] do
      begin
        if Trim(Prod.NCM) <> '00' then
        begin

          if (Imposto.ICMS.CST in [cst00, cst10, cst20, cst70]) and
            (nfe.Ide.finNFe = fnNormal) and
            (ComparaValor(Imposto.ICMS.vIcms,
            Imposto.ICMS.vBC * (Imposto.ICMS.pICMS / 100), 0.01) <> 0) then
            gravalog('');
          if Prod.IndTot = itSomaTotalNFe then
          begin
            if (Prod.qTrib > 9000) or (Prod.qCom > 9000) or (Prod.qTrib = 0) or
              (Prod.qCom = 0) then
            begin
              Prod.qTrib := 1;
              Prod.qCom := 1;
            end;
            if (Prod.vUnTrib > 9000) and (Prod.vUnTrib < Prod.vUnCom) then
            begin
              Prod.vUnTrib := Prod.vUnCom;

            end;
            if (Prod.vUnCom > 9000) and (Prod.vUnCom < Prod.vUnTrib) then
            begin
              Prod.vUnCom := Prod.vUnTrib;
            end;
            if (Prod.vUnCom = 0) and (Prod.vUnTrib > 0) then
              Prod.vUnCom := Prod.vUnTrib
            else if (Prod.vUnTrib = 0) and (Prod.vUnCom > 0) then
              Prod.vUnTrib := Prod.vUnCom;

            if (Prod.qCom = 0) and (Prod.qTrib > 0) then
              Prod.qCom := Prod.qTrib
            else if (Prod.qTrib = 0) and (Prod.qCom > 0) then
              Prod.qTrib := Prod.qCom;
            Prod.vProd := (Prod.qCom * Prod.vUnCom);

            // ---------------------CALCULO ICMS------------------------------------------
            if (Imposto.ICMS.CST in [cst00, cst10, cst20, cst70]) then
              Imposto.ICMS.vBC := Prod.vProd + Prod.vFrete;
          end;
          if Imposto.ICMS.pICMS > 100 then
            Imposto.ICMS.pICMS := Imposto.ICMS.pICMS / 100;

          if (Imposto.ICMS.pICMS > 0) then
            Imposto.ICMS.vIcms := RoundABNT((Prod.vProd * Imposto.ICMS.pICMS)
              / 100, -2);
          if (Prod.vDesc > Prod.vProd) then
          begin
            svalor := Sonumeros(floattostr(Prod.vDesc));
            sdecimal := copy(svalor, Length(svalor) - (Length(svalor) - 2), 2);
            sinteiro := copy(svalor, 0, 1);
            if Length(svalor) > 3 then
            begin
              sinteiro := copy(svalor, 0, Length(svalor) - 2);
            end;

            Prod.vDesc := strtofloat(sinteiro + fs.DecimalSeparator + sdecimal);
          end;
          fsvTotTrib := fsvTotTrib + Imposto.vTotTrib;
          fsvBC := fsvBC + Imposto.ICMS.vBC;
          fsvICMS := fsvICMS + Imposto.ICMS.vIcms;
          fsvICMSDeson := fsvICMSDeson + Imposto.ICMS.vICMSDeson;
          fsvBCST := fsvBCST + Imposto.ICMS.vBCST;
          fsvST := fsvST + Imposto.ICMS.vICMSST;
          fsvFrete := fsvFrete + Prod.vFrete;
          fsvSeg := fsvSeg + Prod.vSeg;
          fsvDesc := fsvDesc + Prod.vDesc;
          fsvII := fsvII + Imposto.II.vII;
          fsvIPI := fsvIPI + Imposto.IPI.vIPI;
          fsvPIS := fsvPIS + Imposto.PIS.vPIS;
          fsvCOFINS := fsvCOFINS + Imposto.COFINS.vCOFINS;
          fsvOutro := fsvOutro + Prod.vOutro;

          if (Prod.NCM <> '00') or
            ((Prod.NCM = '00') and (nfe.Ide.finNFe = fnAjuste)) then
            fsvProd := fsvProd + Prod.vProd;
        end; // IF NCM 00
        fsvServ := fsvServ + Imposto.ISSQN.vISSQN;
        if Prod.veicProd.tpOP = toFaturamentoDireto then
          FaturamentoDireto := True;

        if copy(Prod.CFOP, 1, 1) = '3' then
          NFImportacao := True;

      end; // END  WIHT NFE

    end; // END LOOP ITENS

    if FaturamentoDireto then
      fsvNF := (fsvProd + fsvFrete + fsvSeg + fsvOutro + fsvII + fsvIPI +
        fsvServ) - (fsvDesc + fsvICMSDeson)
    else
      fsvNF := (fsvProd + fsvST + fsvFrete + fsvSeg + fsvOutro + fsvII + fsvIPI
        + fsvServ) - (fsvDesc + fsvICMSDeson);

    // VALIDA TOTALIZADORES------------------------------------------------------

    nfe.Total.ICMSTot.vBC := fsvBC;
    nfe.Total.ICMSTot.vIcms := fsvICMS;
    nfe.Total.ICMSTot.vBCST := fsvBCST;
    nfe.Total.ICMSTot.vST := fsvST;
    nfe.Total.ICMSTot.vProd := fsvProd;
    nfe.Total.ICMSTot.vDesc := fsvDesc;
    nfe.Total.ICMSTot.vIPI := fsvIPI;
    if (nfe.Total.ICMSTot.vPIS <> fsvPIS) then
      nfe.Total.ICMSTot.vPIS := fsvPIS;
    if (nfe.Total.ICMSTot.vCOFINS <> fsvCOFINS) then
      nfe.Total.ICMSTot.vCOFINS := fsvCOFINS;
    if (nfe.Total.ICMSTot.vOutro <> fsvOutro) then
      nfe.Total.ICMSTot.vOutro := fsvOutro;
    if not NFImportacao and (nfe.Total.ICMSTot.vNF <> fsvNF) then
    begin
      if (nfe.Total.ICMSTot.vNF <> (fsvNF + fsvICMSDeson)) then
        nfe.Total.ICMSTot.vNF := fsvNF + fsvICMSDeson;
    end;
  end;
end;

class procedure TAcbrConfig.setAcbrObj(var ObJ: TACBrNFe; cnpj: String);
var
  Ini: TiniFile;
  FserialCert: String;
  Fufserver: String;
  FpinCertificado: String;
  FIdtoken: String;
  FCodtoken: String;
  Fambiente: string;
  strtemp: string;
  aprotocolo: string;
  oetapa: string;
  ilatencia:Integer;
  olibHttp:Integer;
begin

  If FileExists(ExtractFilePath(GetModuleName(HInstance)) + 'FILIAIS.DATA') then

    Ini := TiniFile.Create(ExtractFilePath(GetModuleName(HInstance)) +
      'FILIAIS.DATA')
  else
    Ini := TiniFile.Create(GetWindDir + 'itecnfec.ini');
  try
    oetapa := '0';
    try
      try
        oetapa := '1';
        FserialCert := Ini.ReadString('CERTIFICADO', 'NUMSERIECERT', '');
        Fufserver := Ini.ReadString('WEBSERVER', 'UF', '');
        FpinCertificado := Ini.ReadString('CERTIFICADO', 'PINCERT', '');
        FIdtoken := Ini.ReadString(cnpj, 'IDTOKEN', '');
        FCodtoken := Ini.ReadString(cnpj, 'CODTOKEN', '');
        FserialCert := Ini.ReadString(cnpj, 'NUMSERIECERT', '');
        oetapa := '3';
        Fambiente := Ini.ReadString('CONFIGURACAO', 'AMBIENTE', '1');

        aprotocolo := Ini.ReadString('CONFIGURACAO', 'PROTOCOLO', '4.0');
        if Fambiente = '' then
          Fambiente := '1';
        oetapa := '4';
      except
        on e: exception do
          gravalog('316 ' + e.Message);
      end;
    finally
      FreeAndNil(Ini);
    end;
    Ini := TiniFile.Create(ExtractFilePath(GetModuleName(HInstance)) +
      'ITEC_PANEL_NFE');
    try
      oetapa := '5';
      aprotocolo := Ini.ReadString('CONFIGURACAO', 'PROTOCOLO', '4.0');
      ilatencia:=Ini.ReadInteger ('CONFIGURACAO', 'LATENCIA', 40000);
      olibHttp := ini.ReadInteger('CONFIGURACAO', 'LIBHHTP', 1);
      ObJ.Configuracoes.WebServices.IntervaloTentativas := 15 * 1000; //
      ObJ.Configuracoes.WebServices.AguardarConsultaRet := 15 * 1000;
      ObJ.Configuracoes.WebServices.Tentativas := 30;
      ObJ.Configuracoes.WebServices.TimeOut := ilatencia;
      oetapa := '6';
      FserialCert := getSerialCertificado(cnpj);

      oetapa := '7';
      ObJ.Configuracoes.Certificados.NumeroSerie := FserialCert;
      if FpinCertificado <> '' then
        ObJ.Configuracoes.Certificados.Senha := FpinCertificado;
      ObJ.Configuracoes.WebServices.UF := Fufserver;
      ObJ.Configuracoes.Geral.Salvar := false;
      ObJ.Configuracoes.Arquivos.SalvarEvento := false;
      ObJ.Configuracoes.Arquivos.Salvar := false;
      ObJ.Configuracoes.Arquivos.SepararPorDia := True;
      ObJ.Configuracoes.Geral.ModeloDF := moNFCe;
      oetapa := '8';


      //FIXO 4.0
      ObJ.Configuracoes.Geral.VersaoDF := ve400;
      if FIdtoken = '' then
        FIdtoken := '000001';

      if FIdtoken = '' then
        FIdtoken := '000001';

      ObJ.Configuracoes.Geral.IdCSC := FIdtoken;
      ObJ.Configuracoes.Geral.CSC := FCodtoken;

      if Fambiente = '2' then
        ObJ.Configuracoes.WebServices.Ambiente := taHomologacao
      else
        ObJ.Configuracoes.WebServices.Ambiente := taProducao;
      oetapa := '9';



      ObJ.Configuracoes.Geral.VersaoQRCode := veqr200;
      if ObJ.NotasFiscais.Count > 0 then
      begin
        if ObJ.NotasFiscais[0].NFe.Ide.dEmi  < StrToDateTime ('01/08/2018')   then
          ObJ.Configuracoes.Geral.VersaoQRCode := veqr100;
      end;


      ObJ.Configuracoes.Arquivos.PathSalvar :=
        ExtractFilePath(GetModuleName(HInstance)) + 'XML_NFCE2\';

      ObJ.Configuracoes.WebServices.Ambiente := taProducao;
      ObJ.Configuracoes.Arquivos.PathSchemas :=
        ExtractFilePath(GetModuleName(HInstance)) + 'Schemas\ve310\';
      oetapa := '10';
      if not DirectoryExists(ObJ.Configuracoes.Arquivos.PathSchemas) then
      begin
        raise exception.Create('O PATH PARA ESCHEMAS NÃO FOI ENCONTRADO EM ' +
          ObJ.Configuracoes.Arquivos.PathSchemas);
      end;
      oetapa := '11';
      ObJ.Configuracoes.Geral.ValidarDigest := false;
      ObJ.Configuracoes.Geral.VersaoDF:= ve400;
      ObJ.Configuracoes.Geral.SSLLib := TSSLLib(3);
      ObJ.Configuracoes.Geral.SSLCryptLib := TSSLCryptLib(2);
      ObJ.Configuracoes.Geral.SSLHttpLib := TSSLHttpLib(1);
      ObJ.Configuracoes.Geral.SSLXmlSignLib := TSSLXmlSignLib(3);


        obj.Configuracoes.Geral.SSLLib := libCapicom;

      case olibHttp of
        1:
          obj.Configuracoes.Geral.SSLHttpLib := httpWinINet;
        2:
          obj.Configuracoes.Geral.SSLHttpLib := httpWinHttp;
        3:
          obj.Configuracoes.Geral.SSLHttpLib := httpOpenSSL;
        4:
          obj.Configuracoes.Geral.SSLHttpLib := httpIndy;

      end;

    finally
      Ini.Free
    end;
  except
    on e: exception do
      gravalog('[ACBR-CONFIG]E486 ETAPA ' + oetapa + ' - ' + e.Message);
  end;
end;

initialization

initializeCertificados();

end.
